/* GLOBAL */

*, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    appearance: none;
    border: none;
    color: inherit;
    background: none;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img {
    max-width: 100%;
    display: block;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--s2);
}

/* CONTAINER */

.container {
    max-width: 80rem;
    padding-inline: 2rem;
    margin-inline: auto;
  }

/* RESPONSIVO */
  
  @media (max-width: 1024px) {
    .container {
      max-width: 64rem;
      padding-inline: 1.5rem;
    }
  }
  
  @media (max-width: 768px) {
    .container {
      max-width: 48rem;
      padding-inline: 1.25rem;
    }
  }