/* HEADER */

.header {
    position: absolute;
    width: 100%;
    z-index: 500;
}

.header div {
    padding-top: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-lista {
    display: flex;
    gap: 3rem;
}

.menu-lista li a {
    font-family: var(--font-2);
    font-size: 0.75rem;
    font-weight: 500;
    color: var(--c00);
    transition: ease 0.2s;
}

.menu-lista li a:hover {
    color: var(--p3);
}

.btn1 {
    font-family: var(--font-2);
    font-size: 0.75rem;
    font-weight: 500;

    color: var(--p6);
    background-color: var(--p3);

    padding: 0.75rem 2rem;
    border-radius: 0.5rem;

    transition: 0.2s ease;
}

.btn1:hover {
    background-color: var(--p4);
}

/* RESPONSIVO HEADER */

@media (max-width: 1440px) {
    .header div {
        padding-top: 3em;
    }

    .menu-lista {
        gap: 2.5rem;
        font-weight: 500;
    }

    .btn1 {
        font-weight: 500;
        padding: 0.625rem 1.5rem;
    }
}

@media (max-width: 1080px) {
    .header-conteudo picture {
        display: none;
    }

    .btn1 {
        font-size: 0.875rem;
        padding: 1rem 2rem;
    }
}
