/* HEADER */

.header {
    position: absolute;
    width: 100%;
    z-index: 500;
}

.header > div {
    padding-top: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-lista {
    display: flex;
    gap: 3rem;
}

.menu-lista li a {
    font-family: var(--font-2);
    font-size: 0.875rem;
    font-weight: 500;
    transition: ease 0.2s;
}

.light li a {
    color: var(--c00);
}

.light li a:hover {
    color: var(--a3);
}

.dark li a {
    color: var(--s4);
}

.dark li a:hover {
    color: var(--a5);
}

/* RESPONSIVO HEADER */

@media (max-width: 1440px) {
    .header > div {
        padding-top: 3em;
    }

    .menu-lista {
        gap: 2.5rem;
        font-weight: 500;
    }
}

@media (max-width: 1080px) {
    .header-conteudo picture {
        display: none;
    }
}
