main:has(.home) {
    background-color: var(--bege-500);
}

/* #region --- INICIO */

.home {
    min-height: 100vh;
    position: relative;
    
    display: flex;
    justify-content: center;
    background-color: var(--s2);
}

.home-slide {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    
    & img {
        position: absolute;
        width: 100%;
        height: 100vh;
        object-fit: cover;
        opacity: 0;
        transition: opacity 1.5s ease-out;
        z-index: 0;
    }
    
    & img.active {
        opacity: 1;
        z-index: 1;
    }
}

.home-conteudo {
    position: absolute;
    top: 45vh;
    z-index: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    & > picture {
        margin-bottom: 1rem;
    }
    
    & p {
        font-family: var(--font-3);
        font-size: 4.5rem;
        color: var(--a3);
        text-align: center;
    }
}

/* RESPONSIVO INICIO */

@media (max-width: 768px) {
    .home-conteudo {
        top: 40vh;
        gap: 1rem;
    }

    .home-conteudo p {
        font-size: 4.5rem;
        line-height: 0.7;
    }
}

/* #endregion */

/* #region --- SOBRE */

.home-sobre {
    display: flex;
    align-items: end;
    min-height: 90vh;
    background-color: var(--bege-500);
    position: relative;
}

.home-sobre > picture {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;

    & img {
        min-height: 90vh;
    }
}

.home-sobre > div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    padding-bottom: 13rem;
    z-index: 1;
    
    & h2 {
        font-family: var(--font-2);
        font-weight: 600;
        font-size: 1.25rem;
        color: var(--a2);
    }
    
    & p {
        font-family: var(--font-1);
        font-weight: 500;
        font-size: 1rem;
        color: var(--a1);
    
        margin-bottom: 1rem;
        max-width: 22rem;
    }
}

/* #endregion */

/* #region --- ESTRUTURA */

.home-estrutura {
    display: flex;
    align-items: end;
    min-height: 90vh;
    background-color: var(--bege-200);
    position: relative;
}

.home-estrutura picture {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;

    & img {
        height: 90vh;
    }
}

.home-estrutura > div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    padding-bottom: 13rem;
    padding-left: 50%;
    z-index: 1;
    
    & h2 {
        font-family: var(--font-2);
        font-weight: 600;
        font-size: 1.25rem;
        color: var(--bege-500);
    }
    
    & p {
        font-family: var(--font-1);
        font-weight: 500;
        font-size: 1rem;
        color: var(--c70);
    
        margin-bottom: 1rem;
        max-width: 22rem;
    }
}

/* #endregion */

/* #region --- CURIOSIDADES */

.home-curiosidades {
    display: flex;
    align-items: end;
    min-height: 90vh;
    background-color: var(--bege-500);
    position: relative;
}

.home-curiosidades > picture {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;

    & img {
        min-height: 90vh;
        object-fit: cover;
    }
}

.home-curiosidades > div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    padding-bottom: 13rem;
    z-index: 1;
    
    & h2 {
        font-family: var(--font-2);
        font-weight: 600;
        font-size: 1.25rem;
        color: var(--a2);
    }
    
    & p {
        font-family: var(--font-1);
        font-weight: 500;
        font-size: 1rem;
        color: var(--a1);
    
        margin-bottom: 1rem;
        max-width: 22rem;
    }
}

/* #endregion */

