/* TIPOGRAFIA */

@font-face {
    font-family: Adero;
    src: url(../../assets/fonts/adero/AderoTrial-Regular.otf) format(opentype);
    font-weight: 400;
}

@font-face {
    font-family: Adero;
    src: url(../../assets/fonts/adero/AderoTrial-Medium.otf) format(opentype);
    font-weight: 500;
}

@font-face {
    font-family: Adero;
    src: url(../../assets/fonts/adero/AderoTrial-SemiBold.otf) format(opentype);
    font-weight: 600;
}

@font-face {
    font-family: 'Beyond Infinity';
    src: url('../../assets/fonts/beyond_infinity.ttf') format('truetype');
    font-weight: 400;
}

:root {
    --font-1: "Montserrat", Arial, sans-serif;
    --font-2: "Adero", "Montserrat", sans-serif;
    --font-3: "Beyond Infinity";
}
