/* TIPOGRAFIA */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");

@font-face {
    font-family: Adero;
    src: url(../../assets/fonts/adero/AderoTrial-Regular.otf) format(opentype);
    font-weight: 400;
}

@font-face {
    font-family: Adero;
    src: url(../../assets/fonts/adero/AderoTrial-Medium.otf) format(opentype);
    font-weight: 500;
}

@font-face {
    font-family: Adero;
    src: url(../../assets/fonts/adero/AderoTrial-SemiBold.otf) format(opentype);
    font-weight: 600;
}

:root {
    --font-1: "Montserrat", Arial, sans-serif;
    --font-2: "Adero", "Montserrat", sans-serif;
}
