[data-inicio="a"] {
    opacity: 0;
    transition: 0.3s ease-out;
    animation: animaInicio 2.5s 1s forwards ease-out;
}

[data-inicio="b"] {
    opacity: 0;
    transition: 0.3s ease-out;
    animation: animaInicio 2.5s 2.5s forwards ease-out;
}

@keyframes animaInicio {
    to {
        opacity: 1;
    }
}
